In [7]:
import pandas as pd

In [16]:
df = pd.read_csv('../../TemptDataHouse/USO_sorted_test/raw_traded_quote/2023/01/20230106_20230104.csv')

In [17]:
df

,Unnamed: 0,root,expiration,strike,right,ms_of_day,sequence,ext_condition1,ext_condition2,ext_condition3,...,ms_of_day2,bid_size,bid_exchange,bid,bid_condition,ask_size,ask_exchange,ask,ask_condition,date
0,1762,USO,20230106,72500,C,34200147,-502011971,255,255,255,...,34200147,0,4,0.00,50,1,4,4.80,50,20230104
1,1004,USO,20230106,66000,P,34200154,-502010286,255,255,255,...,34200098,0,4,0.00,50,2,4,1.50,50,20230104
2,1267,USO,20230106,67000,P,34200192,-501995226,255,255,255,...,34200192,2,4,1.79,50,1,4,2.04,50,20230104
3,1526,USO,20230106,69000,C,34200952,-501440147,255,255,255,...,34200951,0,43,0.00,50,1,6,0.75,50,20230104
4,1085,USO,20230106,67000,C,34200952,-501440145,255,255,255,...,34200951,1,6,0.17,50,1,6,0.92,50,20230104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809,539,USO,20230106,64000,P,57566721,1169435794,255,255,255,...,57566721,220,31,0.88,50,10,7,0.93,50,20230104
1810,157,USO,20230106,61000,P,57566809,1169440293,255,255,255,...,57566659,3,69,0.17,50,5,60,0.20,50,20230104
1811,1266,USO,20230106,67000,C,57572210,1170007667,255,255,255,...,57572208,74,42,0.19,50,2,7,0.24,50,20230104
1812,1003,USO,20230106,66000,C,57586879,1171753683,255,255,255,...,57581472,86,11,0.39,50,34,47,0.46,50,20230104
1813,839,USO,20230106,65500,C,57595145,1172800970,255,255,255,...,57595145,84,7,0.55,50,4,1,0.61,50,20230104

In [12]:
df.sort_values(by='ms_of_day').to_csv('../../TemptDataHouse/USO_sorted_test/raw_traded_quote/2023/01/20230106_20230104.csv', index=False)